SOAPCurrencyConvertService/src/main/resources/wsdl/SOAPCurrencyConvertService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapcurrencyconvert.soacourse.unsw.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://soapcurrencyconvert.soacourse.unsw.edu.au">
  <wsdl:types>
    <xsd:schema targetNamespace="http://soapcurrencyconvert.soacourse.unsw.edu.au">
      <xsd:element name="ExchangeRateRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="baseCurrencyCode" nillable="false" type="xsd:string"/>
            <xsd:element name="targetCurrencyCode" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ExchangeRateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="rate" nillable="false" type="xsd:string"/>
            <xsd:element name="asAt" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="ExchangeRateFaultType">
      		<xsd:restriction base="xsd:string">
                    <xsd:enumeration value="InvalidBaseCode"/>
                    <xsd:enumeration value="InvalidTargetCode"/>
                    <xsd:enumeration value="ConnectionIOError"/>
                    <xsd:enumeration value="NoValidResult"/>
                    <xsd:enumeration value="ProgramError"/>
       	 	</xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="serviceFaultType">
        <xsd:sequence>
		  <xsd:element name="faultType" type="tns:ExchangeRateFaultType"></xsd:element>
		  <xsd:element name="faultMessage" type="xsd:string"></xsd:element>
		</xsd:sequence>
	  </xsd:complexType>
	  <xsd:element name="ExchangeRateFault" type="tns:serviceFaultType"/>
    </xsd:schema>
    
  </wsdl:types>
  
  <wsdl:message name="ExchangeRateRequestMsg">
    <wsdl:part element="tns:ExchangeRateRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ExchangeRateResponseMsg">
    <wsdl:part element="tns:ExchangeRateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ExchangeRateFaultMsg">
    <wsdl:part element="tns:ExchangeRateFault" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="SOAPCurrencyConvertService">
    <wsdl:operation name="yahooExchangeRate">
      <wsdl:input message="tns:ExchangeRateRequestMsg"/>
      <wsdl:output message="tns:ExchangeRateResponseMsg"/>
      <wsdl:fault name="mainfault" message="tns:ExchangeRateFaultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="SOAPCurrencyConvertServiceSOAP" type="tns:SOAPCurrencyConvertService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="yahooExchangeRate">
      <soap:operation soapAction="http://soapcurrencyconvert.soacourse.unsw.edu.au/yahooExchangeRate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="mainfault">
		<soap:fault name="mainfault" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPCurrencyConvertService">
    <wsdl:port binding="tns:SOAPCurrencyConvertServiceSOAP" name="SOAPCurrencyConvertService">
      <soap:address location="http://localhost:8080/SOAPCurrencyConvertService/SOAPCurrencyConvertService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
